<% post.comments.includes(:user).last(3).each do |comment| %>
  <ul>
    <% if comment %>
      <li>
        <%= comment.body %>
        <%= comment.user.profile.name %>
      </li>
    <% end %>
  </ul>
<% end %>
