<% if @notifications %>
  <% @notifications.each do |n| %>
    <% if @friend_requests %>
      <h4>Friend Requests</h4>
      <% @friend_requests.each do |r| %>
        <div>
          <%= User.find(r.friend_id).profile.name  %>
        </div>
      <% end %>
      <%# elsif (whatever other notifications)  %>
    <% end %>
  <% end %>
<% else %>
  <h3>Nothing to see here. Check back later.</h3>
<% end %>