<nav class="profile-nav">
  <p>[ Tabs for friends, posts, etc. go here, or somewhere ]</p>
</nav>

<% if current_user.id == @user.id && current_user.profile.nil? %>

  <h3>Welcome to PeoplePages, <%= current_user.email%>!</h3>
  <h4>Let's get started with some information for your profile</h4>
  
  <%= form_with model: @profile do |form| %>
    <%= render 'profiles/form', profile: @profile, form: form %>
  <% end %>

<% else %>
  <%= render 'profiles/info' %>
<% end %>
