<nav>
  <% if current_user.profile.nil? %>
    <h3>Welcome to PeoplePages, <%= current_user.email %>!</h3>
    <h4>Let's get started by creating your profile</h4>
    
  <% else %>
    <%= link_to "Edit Profile", edit_profile_path %>
  <% end %>
</nav>
