<%= render 'new' %>

<%# @posts contains only those of current_user.active_friends %>
<% @posts.each do |post| %>
  <div>
    <strong><%= post.user.profile.name  %></strong>
    <%= post.created_at.strftime('%B %e at %l:%M%P') %>
    <%= post.body %>
  </div>
<% end %>